body {
    padding: 20px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
header {
    text-align: center;
}

.profile {
    width : 150px;
}
h1.profile-name {
    margin-top: 5px;
    font-size: 36px;
}
nav ul {
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;

  }
h1 {
    font-size: 28px;
}
nav li {
    display: inline-block;

}

nav a {
    text-decoration: none;
    padding: .5em 1em;
    color: #777;
    white-space: nowrap;
    background-color: transparent;

}
a {
    color: #258cdb;
    text-decoration: none;
}

a:hover {
    color: #2571db;
}


.content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}
footer{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    padding: 5px;
    background-color: black;
}



footer ul {
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
  }

footer  li {
    display: inline-block;
}

footer a {
    text-decoration: none;
    padding: .5em 1em;
    color: white;
}